{% extends 'base.html' %}
{% block body %}


    <div class="container">
        <h2>Update your Learnings</h2>
        <form action="/update/{{updlearning.sno}}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Learning title</label>
                <input type="text" class="form-control" name="title" id="title" value="{{updlearning.title}}" aria-describedby="emailHelp" />
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Learning Description</label>
                <input type="text" class="form-control" value="{{updlearning.desc}}" name="desc" id="desc" />
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
{% endblock body %}